* {
    background-color: #D5E1EF;
    font-family: "Outfit";
}

.card-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.card {
    width: 20rem; 
    height:31.1875rem; 
    /* border-radius: 1.25rem; */
}

.card-image-top {
    border-radius: 0.625rem; 
    margin-bottom: 0.5rem;
}

.text-pitch {
    font-size: 1.375rem;
    color: #1F314F;
    line-height: 1.2;
    letter-spacing: 0px;
    width: 16rem;
    height: 3.25rem;
    margin-bottom: 1rem;
}

.instructions {
    font-size: 0.9375rem;
    color: #68778D;
    line-height: 1.4;
    letter-spacing: 0px;
    width: 16rem;
    height: 3.9375rem;
    margin-bottom: 0.5rem;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} 

/* LAB 3.2 STYLES BELOW


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-main {
    background-color: white; 
    border-radius: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    width: 288px; 
    height: 467px; 
    padding: 16px;
}

img {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
}

.text-pitch {
    margin-bottom: 16px;
}

.text-qrcode {
    color: #68778D;
    background-color: white;
    font-family: "Outfit";
    font-size: 15px;

    width: 256px;
    height: 63px;
    margin-bottom: 40px;
}

*/
