* {
    background-color: #D5E1EF;
}

.main-container {
    display: flex; /* displays the webpage content in the center of the screen */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-main {
    background-color: white; /* sets white background*/
    border-radius: 20px; /* rounds the corners*/
    display: flex; /* display as a flexbox*/
    flex-direction: column; /* displays content in a column*/
    align-items: center; /* paragraphs are centered */
    text-align: center; /* text within paragraphs is centered */
    width: 288px; /* 320 - 32 = 288*/
    height: 467px; /* 499 - 32 = 467*/
    padding: 16px;
}

img {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
}

.text-pitch {
    color: #1F314F;
    background-color: white;
    font-family: "Outfit";
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0px;
    width: 256px;
    height: 52px;
    margin-bottom: 16px;
}

.text-qrcode {
    color: #68778D;
    background-color: white;
    font-family: "Outfit";
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    width: 256px;
    height: 63px;
    margin-bottom: 40px;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


