* {
    background-color: #F4D04E;
}

.card-container {
    align-items: center;
    height: 100vh;
}

.card {
    width: 24rem; 
    height: 1rem; 
    border-radius: 1.25rem;
}


/*

a {
    color: #111111;
    text-decoration: none;
}

fieldset {
    all:unset;
}

.main-container {
    display: flex;
    color: #111111;
    font-family: "Figtree" , sans-serif; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-main {
    background-color: white;
    border: 1px solid #111111;
    box-shadow: 12px 12px #111111;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 474px;
    padding: 24px;
}

.logo-container {
    margin-bottom: 12px;
    width: 336px;
    height: 200px;
}

.blog-logo {
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.category {
    background-color: #F4D04E;
    display: flex;
    font-weight: 800; 
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
    width: 82px;
    height: 29px;
    border-radius: 4px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.publish-date {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
    margin-bottom: 12px;
    width: 145px;
    height: 21px;
}

.title {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0px;
    width: 336px;
    height: 36px;
    margin-bottom: 12px;   
}

.title:hover, .title:focus {
    color: #F4D04E;
}

.description {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    width: 336px;
    height: 72px;
    margin-bottom: 12px;    
}

.profile {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 32px;
    height: 32px;
}

.profile-name {
    font-weight: 800; 
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
    width: 100px;
    height: 21px;
}

.profile-name:hover, .profile-name:focus {
    color: #F4D04E;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 600px) {
    .flex-main {
        width: 279px;
        height: 453px;
    }

    .logo-container {
        width: 279px;
        height: 200px;
        border-radius: 20px;
        overflow:hidden;
        justify-content: center;
        align-items: center;
    }

    .blog-logo {
        width: 336px;
        position: relative;
        left: -28.5px
    }

    .category {
        font-size: 12px;
        width: 73px;
        height: 26px;
    }

    .publish-date {
        font-size: 12px;
        width: 130px;
        height: 18px;
    }

    .title {
        font-size: 20px;
        width: 279px;
        height: 30px;
    }

    .description {
        font-size: 14px;
        width: 279px;
        height: 63px;
    }
}


 */
